/* Fonts */
@font-face {
  font-family: 'Anton';
  src: url(./fonts/Anton/Anton-Regular.ttf);
}

@font-face {
  font-family: 'Michroma';
  src: url(./fonts/Michroma/Michroma-Regular.ttf);
}

@font-face {
  font-family: 'Abel';
  src: url(./fonts/Abel/Abel-Regular.ttf);
}

/* Global colors */

.highlight {
  color: #B58D47;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'],
a, li, ul {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html, body {
  font-family: 'Abel';
  overflow-x: hidden;
}

/* Set core body defaults */
main {
  background-color: #F8F9FA;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: smooth;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: smooth !important;
  }
}

.main_style {
  padding: clamp(1.25rem, 0.8654rem + 1.9231vw, 3.125rem);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* landing page */
.logo img {
  left: 0;
  position: absolute;
  top: 0;
  width: 80px;
  z-index: 1;
}

.title_page {
  align-items: center;
  background-image: url(./images/black_pc.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #F8F9FA;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100vh;
  justify-content: center;
  position: relative;
  text-align: center;
}

.title_page h1 {
  display: flex;
  font-family: 'Michroma';
  font-size: clamp(0.8rem, 0.759rem + 0.2051vw, 1rem);
  font-weight: 900;
  gap: .3rem;
  position: absolute;
  text-transform: uppercase;
  top: 8rem;
}

.title_page h2 {
  color: #B58D47;
  font-family: 'Anton';
  font-size: clamp(3rem, 1.9744rem + 5.1282vw, 8rem);
  line-height: 1.5;
  letter-spacing: .3rem;
  text-transform: uppercase;
  -webkit-text-stroke: 1px #171717;
}

.title_page-presentation {
  align-items: center;
  border-radius: 5px;
  bottom: 5rem;
  display: flex;
  font-size: clamp(1rem, 0.9385rem + 0.3077vw, 1.3rem);
  max-width: 600px;
  padding: 1.5rem;
  position: absolute;
  text-align: center;
}

/* menu */
.title_page-menu {
  gap: 3rem;
}

p {
  font-size: clamp(1rem, 0.959rem + 0.2051vw, 1.2rem);
}

.title_page-menu ul {
  align-items: center;
  font-size: .8rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  text-transform: uppercase;
}

.title_page-menu a {
  align-items: flex-start;
  color: #171717;
  display: flex;
  text-decoration: none;
}

.title_page-menu a:hover {
  color: #B58D47;
  font-style: italic;
}

/* day */
.day {
  padding: 1rem 0 10rem 0;
}

/* main */
.main_title {
  align-items: baseline;
  display: flex;
  font-family: 'Anton';
  font-size: clamp(1rem, 0.7949rem + 1.0256vw, 2rem);
  gap: .3rem;
  justify-content: center;
  letter-spacing: .1rem;
  padding-bottom: 5rem;
  text-transform: uppercase;
}

.main_title i {
  color: #B58D47;
  font-size: 1rem;
}

/* day one */
.day_one {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  width: 100%;
}

.day_one-text {
  display: flex;
  flex-direction: column;
  line-height: 1.8rem;
  max-width: fit-content;
}

.day_one h5 {
  font-size: clamp(1.5rem, 1.3974rem + 0.5128vw, 2rem);
  text-transform:capitalize;
}

.day_one img {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  display: flex;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .day_one {
    flex-direction: row-reverse;
    gap: clamp(2rem, 0.359rem + 8.2051vw, 10rem);
  }
  .day_one p {
    flex-direction: column;
    max-width: 500px;
  }  
  .day_one img {
    width: clamp(18.75rem, 15.5449rem + 16.0256vw, 34.375rem);
  }
}

/* day two */
.day_two-design {
  align-items: center;
  border-radius: 20px;
  background: rgb(23,23,23);
  background: -moz-linear-gradient(171deg, rgba(23,23,23,1) 15%, rgba(59,59,61,1) 100%);
  background: -webkit-linear-gradient(171deg, rgba(23,23,23,1) 15%, rgba(59,59,61,1) 100%);
  background: linear-gradient(171deg, rgba(23,23,23,1) 15%, rgba(59,59,61,1) 100%);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  color: #F8F9FA;
  display: flex;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#171717",endColorstr="#3b3b3d",GradientType=1);
  flex-direction: column;
  gap: 1rem;
  padding: 0 2rem 3rem 2rem;
  justify-content: center;
}

.day_two-design img {
  width: 300px;
}

.day_two-design .canva_logo {
  width: 50px;
}

@media screen and (min-width: 768px) {
  .day_two-design {
    flex-direction: row;
    gap: 2rem;
    margin: 0 150px;
    padding: 3rem 2rem;
  }
  .day_two-design p {
    max-width: 1000px;
  }
}

/* day three + four */
.day_three_four-text p {
  line-height: 1.8;
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
}

/* grid */
.grid {
  display: grid;
  gap: 2rem;
}

.grid h4 {
  color: black;
  padding-bottom: 2rem;
  text-align: center;
  text-transform: uppercase;
}

.box {
  border-radius: 5px;
  background-color: #F8F9FA;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  color: #171717;
  height: auto;
  justify-content: center;
  padding: 2rem;
  text-align: justify;
}

.box i {
  color: #B58D47;
  font-size: 2rem;
}

/* media queries */
@media screen and (min-width: 605px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .container {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .grid {
    grid-template-columns: repeat(3, 1fr);
    max-width: 1000px;
  }
}

/* day five */
.day_five-paragraph {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  margin: 0 auto;
}

.day_five-paragraph .paragraph_one {
  border-top: 2px solid #B58D47;
  max-width: 500px;
  padding-top: 1.5rem;
}

.day_five-paragraph .paragraph_two {
  border-top: 2px solid #B58D47;
  max-width: 500px;
  padding-top: 1.5rem;
}

@media screen and (min-width: 768px) {
  .day_five-paragraph {
    flex-direction: row;
    gap: 10rem;
  }
}

/* footer */
.footer {
  align-items: center;
  background-color: #171717;
  border-top: 2px solid #B58D47;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  color: #F8F9FA;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 3rem;
}

.footer_title {
  text-align: center;
}

.footer_title p {
  font-family: 'Michroma';
}

.footer_img img {
  width: 300px;
}

.footer i {
  color: #B58D47;
  font-size: .8rem;
}
